@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Light;';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*★ [공통] 상단 logo & Menu  ★ */

.container {
    margin: auto;
    font-size: 16px;
    width: 100%;

}

.main_top {
    height: 50px;
    position: relative;
}

.head_logo {
    width: 200px;
    margin: 10px 0px 0px 30px;
    float: left;
}

.top_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 10px;
}

.top_menu li {
    font-size: 14px;
    margin-left: 20px;
    display: inline-block;

}

.top_menu li > a {
    text-decoration: none;
    color: #6c9694;
    font-family: Pretendard-regular;
    padding-left: 150px;
}

/* 공통 좌측 아이콘 스타일 */

.icon_sidebar {
    width: 100%;
    height: 60px;
    padding: 20px 0px 0px 30px;


}
.container2{


    width: 100%;
    min-height: 100vh;
    background-color: #f8f8f8;

}

/* ★ [공통] 페이지네이션 스타일  ★*/

.main_pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination_box {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center;
}

.pagination {
    display: flex;
    gap: 5px;
    padding: 0;
}

.pagination .page-item {
    list-style: none;
}

.pagination .page-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-family: Pretendard-Regular;
    font-size: 1rem;
    color: #3a8e97;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.3s;
    box-shadow:
            inset 2px 2px 2px 0px rgba(255,255,255,.5),
            7px 7px 20px 3px rgba(0, 0, 0, 0.05);
}

.pagination .page-link:hover,
.pagination .page-item.active .page-link {
    background: linear-gradient(0deg, #5bcaca 0%, rgb(136, 221, 232) 100%);
    border-radius: 50px;
    color: #fff;
}

.pagination .page-item.active .page-link {
    font-family: Pretendard-Regular;

}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    width: auto;
    padding: 0 12px;
    border-radius: 50px;

}

.pagination .page-link:hover {
    transform: translateY(-3px);
    background: linear-gradient(0deg, #5bcaca 0%, rgb(136, 221, 232) 100%);
    box-shadow:

            inset 2px 2px 2px 0px rgba(255,255,255,.5),
            0 4px 8px rgba(44, 62, 80, 0.2);
}