<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<body>
<div layout:fragment="content">

  <div class="row mt-3">
    <form action="/todo/list" method="get">
      <div class="col">
        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
        <input type="hidden" name="pageType" th:value="${pageRequestDTO.pageType}">

        <div class="input-group">
          <div class="input-group-prepend">
            <select class="form-select" name="type">
              <option value="">---</option>
              <option value="t" th:selected="${pageRequestDTO.type =='t'}">제목</option>
              <option value="d" th:selected="${pageRequestDTO.type =='d'}">내용</option>
              <option value="td" th:selected="${pageRequestDTO.type =='td'}">제목 내용</option>
            </select>
          </div>
          <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
            <button class="btn btn-outline-secondary clearBtn" type="button">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="card">
    <div class="card-header">
      todo list
    </div>
    <div class="card-body">

      <h5 class="card-title" >username님의 모든 일정입니다.</h5>
    <div>
      <a th:href="|@{/todo/register}|" class="text-decoration-none">
        <button type="submit" class="btn btn-outline-secondary">일정 등록</button>
      </a>
    </div>
      <!--<a href="#" class="btn btn-outline-secondary">일정 등록 </a>-->

      <table class="table">

        <thead>
        <tr>
          <!--<th scope="col">Todo_id</th>-->
          <th scope="col">DueDate</th>
          <th scope="col">Complete</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>


        </tr>
        </thead>

        <tbody th:with="link=${pageRequestDTO.getLink()}">
        <tr th:each="dto:${responseDTO.dtoList}">
          <td>[[${#temporals.format(dto.dueDate,'yyyy-MM-dd')}]]</td>
          <td><input class="form-check-input" type="checkbox" id="flexCheckDefault" th:checked="${dto.complete ?: false ? 'checked' : ''}"></td>
          <!--<th scope="row">[[${dto.todoId}]]</th>-->
          <!--<td><a th:href="@{/todo/read(todo_id=${dto.todo_id})}">[[${dto.title}]]</a></td>-->
          <td><a th:href="|@{/todo/read(todoId=${dto.todoId})}&${link}|">[[${dto.title}]]</a></td>
          <td>[[${dto.description}]]</td>


        </tr>
      </table>

      <div class="float-end">
        <ul class="pagination flex-wrap">
          <li class="page-item" th:if="${responseDTO.prev}">
            <a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
          </li>

          <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
            <li th:class="${responseDTO.page == i}?'page-item active':'page-item'" >
              <a class="page-link"  th:data-num="${i}">[[${i}]]</a>
            </li>
          </th:block>
          <li class="page-item" th:if="${responseDTO.next}">
            <a class="page-link"  th:data-num="${responseDTO.end + 1}">Next</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>
</body>


<script layout:fragment="script" th:inline="javascript">
  document.querySelector(".pagination").addEventListener("click", function (e){
    e.preventDefault()
    e.stopPropagation()
    const target=e.target
    if(target.tagName !=='A'){
      return;
    }
    const num=target.getAttribute('data-num');
    const formObj=document.querySelector("form");
    formObj.innerHTML += `<input type=h'hidden' name='page' value='${num}'>`
    formObj.submit()
  })
</script>
</html>