<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<body>
<div layout:fragment="content">

  <div class="row mt-3">
    <form action="/todo/list" method="get">
      <div class="col">
        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
        <input type="hidden" name="pageType" th:value="${pageRequestDTO.pageType}">

        <div class="input-group">
          <div class="input-group-prepend">
            <select class="form-select" name="type">
              <option value="">---</option>
              <option value="t" th:selected="${pageRequestDTO.type =='t'}">제목</option>
              <option value="d" th:selected="${pageRequestDTO.type =='d'}">내용</option>
              <option value="td" th:selected="${pageRequestDTO.type =='td'}">제목 내용</option>
            </select>
          </div>
          <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
            <button class="btn btn-outline-secondary clearBtn" type="button">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="card">
    <div class="card-header">
      todo list
    </div>
    <div class="card-body">

      <h5>
        <span th:switch="${pageRequestDTO.pageType}">
          <span th:case="'list'">username님의 모든 일정입니다.</span>
          <span th:case="'today'">username님의 오늘 일정입니다.</span>
          <span th:case="'upcoming'">username님의 다가오는 일정입니다.</span>
           <span th:case="'past'">username님의 지난 일정입니다.</span>
           <span th:case="'completed'">username님의 완료된 일정입니다.</span>
           <span th:case="*">username님의 일정입니다.</span> <!-- 기본값 -->
        </span>
      </h5>
      <div>
        <a th:href="@{/todo/register(pageType=${pageRequestDTO.pageType})}" class="text-decoration-none">
          <button type="button" class="btn btn-outline-secondary">일정 등록</button>
        </a>
      </div>
    <!--<div>
      <a th:href="|@{/todo/register}|" class="text-decoration-none">
        <button type="submit" class="btn btn-outline-secondary">일정 등록</button>
      </a>
    </div>-->


      <table class="table">

        <thead>
        <tr>
          <!--<th scope="col">Todo_id</th>-->
          <th scope="col">DueDate</th>
          <th scope="col">Complete</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col"></th>




        </tr>
        </thead>

        <tbody th:with="link=${pageRequestDTO.getLink()}">
        <tr th:each="dto:${responseDTO.dtoList}">
          <td>[[${#temporals.format(dto.dueDate,'yyyy-MM-dd')}]]</td>
          <td><input class="form-check-input" type="checkbox" id="flexCheckDefault" th:checked="${dto.complete ?: false ? 'checked' : ''}"></td>
          <!--<th scope="row">[[${dto.todoId}]]</th>-->
          <!--<td><a th:href="@{/todo/read(todo_id=${dto.todo_id})}">[[${dto.title}]]</a></td>-->
          <td><a th:href="|@{/todo/read(todoId=${dto.todoId})}&${link}|">[[${dto.title}]]</a></td>
          <td>[[${dto.description}]]</td>

          <td>
            <div class="input-group mb-3">
              <!-- 수정 버튼 -->
              <a th:href="|@{/todo/modify(todoId=${dto.todoId})}&${link}&pageType=${pageRequestDTO.pageType}|" class="text-decoration-none">
                <button type="button" class="btn btn-outline-success btn-sm ">수정</button>
              </a>

              <!-- 삭제 버튼 -->
              <form action="/todo/remove" method="post" style="display:inline;">
                <input type="hidden" name="todoId" th:value="${dto.todoId}">
                <input type="hidden" name="pageType" th:value="${pageRequestDTO.pageType}">
                <button type="button" class="btn btn-outline-danger btn-sm " onclick="confirmDelete(this.form)">삭제</button>
              </form>
            </div>
          </td>

          <!--<td>
            <div class="input-group mb-3" th:with="link = ${pageRequestDTO.getLink()}">
              <a th:href="|@{/todo/modify(todoId=${dto.todoId})}&${link}&pageType=${pageRequestDTO.pageType}|" class="text-decoration-none">
                <button type="button" class="btn btn-outline-success btn-sm">수정</button>
              </a>
            </div>

          </td>
          <td>
            <form action="/todo/remove" method="post" style="display:inline;">
              <input type="hidden" name="todoId" th:value="${dto.todoId}">
              <input type="hidden" name="pageType" th:value="${pageRequestDTO.pageType}">
              <button type="button" class="btn btn-outline-danger btn-sm " onclick="confirmDelete(this.form)">삭제</button>
            </form>

          </td>
-->



        </tr>
      </table>

      <div class="float-end">
        <ul class="pagination flex-wrap">
          <li class="page-item" th:if="${responseDTO.prev}">
            <a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
          </li>

          <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
            <li th:class="${responseDTO.page == i}?'page-item active':'page-item'" >
              <a class="page-link"  th:data-num="${i}">[[${i}]]</a>
            </li>
          </th:block>
          <li class="page-item" th:if="${responseDTO.next}">
            <a class="page-link"  th:data-num="${responseDTO.end + 1}">Next</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>
</body>


<script layout:fragment="script" th:inline="javascript">
  document.querySelector(".pagination").addEventListener("click", function (e){
    e.preventDefault()
    e.stopPropagation()
    const target=e.target
    if(target.tagName !=='A'){
      return;
    }
    const num=target.getAttribute('data-num');
    const formObj=document.querySelector("form");
    formObj.innerHTML += `<input type=h'hidden' name='page' value='${num}'>`
    formObj.submit()
  })

  function confirmDelete(form) {
    if (confirm('정말 삭제하시겠습니까?')) {
      form.submit();  // 확인을 누르면 폼을 제출합니다.
    }
  }



</script>
</html>