<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<body>
<div layout:fragment="content">
  <div class="card">
    <div class="card-header">
      todo list
    </div>
    <div class="card-body">

      <h5 class="card-title" >username님의 모든 일정입니다.</h5>
    <div>
      <a th:href="|@{/todo/register}|" class="text-decoration-none">
        <button type="submit" class="btn btn-outline-secondary">일정 등록</button>
      </a>
    </div>
      <!--<a href="#" class="btn btn-outline-secondary">일정 등록 </a>-->

      <table class="table">

        <thead>
        <tr>
          <th scope="col">Todo_id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Complete</th>
          <th scope="col">DueDate</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="dto:${todoList}">
          <th scope="row">[[${dto.todo_id}]]</th>
          <td><a th:href="@{/todo/read(todo_id=${dto.todo_id})}">[[${dto.title}]]</a></td>
          <td>[[${dto.description}]]</td>
          <td><input class="form-check-input" type="checkbox" id="flexCheckDefault" th:checked="${dto.complete ?: false ? 'checked' : ''}"></td>
          <td>[[${#temporals.format(dto.due_date,'yyyy-MM-dd')}]]</td>
        </tr>
      </table>


    </div>

  </div>

</div>
</body>


<script layout:fragment="script" th:inline="javascript">
  console.log("script....................")
</script>
</html>