<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link th:href="@{/css/todo.css}" rel="stylesheet" />
</head>
<body>
<div class="container" layout:fragment="content">
  <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
  <input type="hidden" name="pageType" th:value="${pageRequestDTO.pageType}">

  <!--★ [공통] 상단 logo & Menu  ★ -->

  <div class="main_top">
    <div class="head_logo">
      <img  src="/img/project_head_Logo.png" alt="로고" width="150" height="30" >
    </div>
ㅇㅇ
    <div>
      <ul class="top_menu">
        <li><a href="#">Notice</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
  </div>
  <div class="icon_sidebar">
    <img src="/img/projcect_sidebar_open.png" width="30" height="30">
  </div>

  <div class="container2">


    <!--검색 창 -->

    <!--<div class="row mt-3">
      <form action="/todo/list" method="get">
        <div class="col">
          <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
          <input type="hidden" name="pageType" th:value="${pageRequestDTO.pageType}">

          <div class="input-group">
            <div class="input-group-prepend">
              <select class="form-select" name="type">
                <option value="">-&#45;&#45;</option>
                <option value="t" th:selected="${pageRequestDTO.type =='t'}">제목</option>
                <option value="d" th:selected="${pageRequestDTO.type =='d'}">내용</option>
                <option value="td" th:selected="${pageRequestDTO.type =='td'}">제목 내용</option>
              </select>
            </div>
            <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
              <button class="btn btn-outline-secondary clearBtn" type="button">Clear</button>
            </div>
          </div>
        </div>
      </form>
    </div>-->

    <div class="todo_main">
      <div class="todo_main_box">
        <div class="todo_maintext">
          <span th:switch="${pageRequestDTO.pageType}">
              <span th:case="'list'">username님의 모든 일정입니다.</span>
              <span th:case="'today'">username님의 오늘 일정입니다.</span>
              <span th:case="'upcoming'">username님의 다가오는 일정입니다.</span>
              <span th:case="'past'">username님의 지난 일정입니다.</span>
              <span th:case="'completed'">username님의 완료된 일정입니다.</span>
              <span th:case="*">username님의 일정입니다.</span> <!-- 기본값 -->
          </span>
        </div>

        <div class="todo_main_btn">
          <a th:href="@{/todo/register(pageType=${pageRequestDTO.pageType})}">
            <button type="button" class="custom-btn btn_register">일정 추가</button>
          </a>
        </div>
      </div>
    </div>

    <div class="todo_main_table">
      <div class="todo_main_box2">
        <table class="todo-table">
          <tbody th:with="link=${pageRequestDTO.getLink()}">
          <!-- Due Date Row -->
          <tr>
            <td class="table_dueDate" colspan="4" th:text="${#temporals.format(firstDueDate, 'yyyy-MM-dd')}"></td>
          </tr>

          <!-- Todo Item Rows -->
          <tr th:each="dto : ${responseDTO.dtoList}">
            <!-- Checkbox Column -->
            <td class="table_checkbox" rowspan="2"  style="width: 10%; height: 40px;" >
              <input class="form-check-input" type="checkbox" th:checked="${dto.complete ?: false ? 'checked' : ''}">
            </td>

            <!-- Title Column -->
            <td class="table_title" colspan="2" style="width: 80%; ">
              <a th:href="|@{/todo/read(todoId=${dto.todoId})}&${link}|">[[${dto.title}]]</a>
            </td>

            <!-- Icons Column -->
            <td class="table_icon" rowspan="2"  style="width: 10%; height: 40px;">
              <div class="tb_icon">
                <a th:href="|@{/todo/modify(todoId=${dto.todoId})}&${link}&pageType=${pageRequestDTO.pageType}|">
                  <img src="../img/pencil.png" width="20" height="20">
                </a>
              </div>
              <div class="tb_icon">
                <form action="/todo/remove" method="post" style="display:inline;">
                  <input type="hidden" name="todoId" th:value="${dto.todoId}">
                  <input type="hidden" name="pageType" th:value="${pageRequestDTO.pageType}">
                  <button type="submit" style="background: none; border: none; padding: 0;">
                    <img src="../img/bin.png" width="20" height="20" alt="삭제" onclick="return confirmDelete(this)">
                  </button>
                </form>
              </div>
            </td>
          </tr>

          <!-- Description Row -->
          <tr th:each="dto : ${responseDTO.dtoList}">
            <td class="table_description" colspan="2" style="width: 80%"  th:text="${dto.description}"></td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>


    <div class="float-end">
      <ul class="pagination flex-wrap">
        <li class="page-item" th:if="${responseDTO.prev}">
          <a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
        </li>

        <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
          <li th:class="${responseDTO.page == i}?'page-item active':'page-item'" >
            <a class="page-link"  th:data-num="${i}">[[${i}]]</a>
          </li>
        </th:block>
        <li class="page-item" th:if="${responseDTO.next}">
          <a class="page-link"  th:data-num="${responseDTO.end + 1}">Next</a>
        </li>
      </ul>
    </div>

  </div>

</div>

</body>


<script layout:fragment="script" th:inline="javascript">
  document.querySelector(".pagination").addEventListener("click", function (e){
    e.preventDefault()
    e.stopPropagation()
    const target=e.target
    if(target.tagName !=='A'){
      return;
    }
    const num=target.getAttribute('data-num');
    const formObj=document.querySelector("form");
    formObj.innerHTML += `<input type=h'hidden' name='page' value='${num}'>`
    formObj.submit()
  })


  function confirmDelete(form) {
    // 삭제 확인 다이얼로그 표시
    if (confirm("해당 일정을 삭제하시겠습니까?")) {
      form.submit();  // 삭제 폼 제출
    } else {
      return false;  // 폼 제출을 막음 (삭제 취소)
    }
  }

</script>



</script>
</html>