<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link th:href="@{/css/common.css}" rel="stylesheet"/>
  <link th:href="@{/css/todo.css}" rel="stylesheet"/>
</head>

<body>
<!--★ [공통] 상단 logo & Menu  ★ -->

<div class="main_top">
  <div class="head_logo">
    <img src="/img/common/project_head_Logo.png" alt="로고" width="150" height="30" >
  </div>

  <div>
    <ul class="top_menu">
      <li><a href="#">Notice</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
</div>

<div class="container2">
  <div class="icon_sidebar">
    <div class="sidebar">
      <div class="sidebar-btn">
        <img class="top-menu" src="/img/common/projcect_sidebar_menu.png" width="40" height="40">
      </div>

      <div class="sidebar-content">

        <div class="user-info">

          <img  class="user-img" src="/img/common/user_ex.jpg" width="60" height="60">

          <div class="userbox">
            <div class="username">
              username님
            </div>

          </div>
          <div class="userbox">
            <div class="user-setting">
              <a href="">
                <img class="topmenu-icon" src="/img/common/projcect_sidebar_setting.png" width="30" height="30">
              </a>
            </div>
          </div>

          <div class="userbox">
            <div class="user-logout">
              <a href="">
                logout
              </a>
            </div>
          </div>
        </div>


        <div class="sidemenu">
          <ul class="menu">
            <li>
              <a href="#">
                <div class="menu-icon" >
                  <img class="menu-icon" src="/img/common/projcect_sidebar_home.png" width="40" height="40">
                </div>
                <div class="menu-text">Home</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="menu-icon" >
                  <img class="menu-icon" src="/img/common/projcect_sidebar_timer.png" width="40" height="40">
                </div>
                <div class="menu-text">Timer</div>
              </a>
            </li>
            <li>
              <a href="/todo/list?pageType=list">
                <div class="menu-icon" >
                  <img class="menu-icon" src="/img/common/projcect_sidebar_todo.png" width="40" height="40">
                </div>
                <div class="menu-text">Todo List</div>
              </a>

              <ul class="submenu">

                <a href="#" onclick="openSearchPopup()">
                  <button type="button" class=" btn_search">
                    <img class="search_btn" src="/img/common/projcect_sidebar_search.png" width="35" height="35" >
                    <div class="search_btn_text">search</div>
                  </button>
                </a>

                <li>
                  <img class="menu-icon2" src="/img/common/projcect_sidebar_smallopen.png" width="20" height="20">
                  <a href="/todo/list?pageType=today">today</a>
                </li>
                <li>
                  <img class="menu-icon2" src="/img/common/projcect_sidebar_smallopen.png" width="20" height="20">
                  <a href="/todo/list?pageType=upcoming">upcoming</a>
                </li>
                <li>
                  <img class="menu-icon2" src="/img/common/projcect_sidebar_smallopen.png" width="20" height="20">
                  <a href="/todo/list?pageType=past">past</a>
                </li>
                <li>
                  <img class="menu-icon2" src="/img/common/projcect_sidebar_smallopen.png" width="20" height="20">
                  <a href="/todo/list?pageType=completed">completed</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <div class="menu-icon" >
                  <img class="menu-icon" src="/img/common/projcect_sidebar_notes.png" width="40" height="40">
                </div>
                <div class="menu-text">Notes</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="menu-icon" >
                  <img class="menu-icon" src="/img/common/projcect_sidebar_community.png" width="40" height="40">
                </div>
                <div class="menu-text">community</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 검색 팝업 -->
    <div id="searchPopup" class="popup2" style="display: none;">
      <div class="popup-search-content">
        <img src="/img/common/searchface.png" width="90" height="90">
        <p>Todo list 검색하기</p>
        <form action="/todo/list" method="get">
          <div class="input-group">
            <div class="input-group-prepend">
              <select class="form-select" name="type">
                <option value="">-&#45;&#45;</option>
                <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                <option value="d" th:selected="${pageRequestDTO.type == 'd'}">내용</option>
                <option value="td" th:selected="${pageRequestDTO.type == 'td'}">제목 내용</option>
              </select>
            </div>

            <input type="text" class="form-control" name="keyword" placeholder="검색어를 입력하세요"
                   th:value="${pageRequestDTO.keyword}">

            <div class="input-group-append">
              <button class="popup-search-btn" type="submit">검색</button>
              <button class="popup-search-btn" type="button" onclick="clearSearch()">초기화</button>
              <button class="popup-search-btn" onclick="closeSearchPopup()">닫기</button>
            </div>
          </div>
          <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
          <input type="hidden" name="pageType" th:value="${pageRequestDTO.pageType}">
        </form>

      </div>
    </div>



    <!--------------------★★★★★★★★★ 여기서 부터 본인 레이아웃 넣기 ★★★★★★★★★-------------------->




    <div class="todo_main2">
      <div class="todo_main_box">
        <div class="todo_maintext">
        <span th:switch="${pageRequestDTO.pageType}">
          <span>username님 어떤 일을 하셔야 하나요?</span>
        </span>
        </div>
      </div>
    </div>


    <div class="todo_main_table">
      <div class="todo_main_box3">
        <form action="/todo/modify" method="post">
          <input type="hidden" name="todoId" th:value="${dto.todoId}">
          <input type="hidden" name="returnTo" th:value="${returnTo != null ? returnTo : 'list'}">
          <input type="hidden" id="pageType" th:value="${pageRequestDTO.pageType}">


          <div class="main-input">
            <label><span>* </span>제목</label>
            <input type="text" class="txt-input" name="title" th:value="${dto.title}">
          </div>

          <div class="main-textarea">
            <label><span>* </span>내용</label>
            <textarea name="description" class="txt-textarea" rows="3" >[[${dto.description}]]</textarea>
          </div>

          <div class="main-input">
            <label><span>* </span>마감날짜</label>
            <input type="date" class="txt-input" name="dueDate" th:value="${dto.dueDate}" >
          </div>

          <div class="main-checkbox-txt">
            <label><span>* </span>완료 여부</label>
          </div>

          <div class="main_checkbox">
            <input type="checkbox"  class="txt-input" name="complete" th:checked="${dto.complete?'checked':null}">
          </div>



          <div class="todo_main_btn" >
            <button type="button" id="modifyBtn" class="custom-btn btn_register2">일정 수정</button>

            <a th:href="|@{/todo/list}?${link}&pageType=${pageRequestDTO.pageType}|" class="text-decoration-none">
              <button type="button" class="custom-btn btn_register2">뒤로</button>
            </a>

            <button type="button" id="removeBtn" class="custom-btn btn_register3">일정 삭제 </button>



          </div>
        </form>
      </div>
    </div>
  </div>

</body>
<script layout:fragment="script" th:inline="javascript">

  const formObj=document.querySelector("form");
  document.querySelector("#modifyBtn").addEventListener("click", function (e){
    e.preventDefault()
    e.stopPropagation()
    var pageType = document.querySelector("#pageType").value
    console.log("pageType="+pageType)
    formObj.action="/todo/modify?pageType="+pageType
    formObj.method="post"
    formObj.submit()
  }, false)



  document.querySelector("#removeBtn").addEventListener("click", function (e) {
    e.preventDefault();
    e.stopPropagation();

    // 삭제 확인 팝업
    if (confirm('\n삭제된 항목은 되돌릴 수 없어요. \n\n괜찮으시다면 확인 버튼을 눌러주세요.')) {
      var pageType = document.querySelector("#pageType").value; // pageType 값을 가져옵니다.
      formObj.action = "/todo/remove?pageType=" + pageType;  // pageType을 action에 추가
      formObj.method = "post";
      formObj.submit();  // 확인을 누르면 폼을 제출하여 삭제 실행

      // 삭제 후 리스트 페이지로 리디렉션
      setTimeout(function() {
        window.location.href = "/todo/list?pageType=" + pageType; // 삭제 후, pageType에 맞는 페이지로 리디렉션
      }, 500); // 삭제 후 잠시 기다린 후 리디렉션
    }
  }, false);


  // ★ 공통 스크립트 ( 검색 팝업 ) ★
  function closePopup() {
    document.getElementById("confirmPopup").style.display = "none";
  }


  function openSearchPopup() {
    document.getElementById("searchPopup").style.display = "flex";
  }


  function closeSearchPopup() {
    document.getElementById("searchPopup").style.display = "none";
  }


  function clearSearch() {

    document.querySelector('input[name="keyword"]').value = '';
    document.querySelector('select[name="type"]').value = '';
  }
</script>
</html>