<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">


<div layout:fragment="content">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Modify Page</h5>

      <form action="/todo/modify" method="post">
        <input type="hidden" name="todoId" th:value="${dto.todoId}">
        <input type="hidden" name="returnTo" th:value="${returnTo != null ? returnTo : 'list'}">
        <input type="hidden" id="pageType" th:value="${pageRequestDTO.pageType}">

        <div class="input-group mb-3">
          <span class="input-group-text">Title</span>
          <input type="text" name="title" class="form-control" th:value="${dto.title}">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Description</span>
          <textarea name="description" class="form-control col-sm-5" rows="5">[[${dto.description}]]</textarea>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Complete</span>
          <input class="form-check-input" type="checkbox" name="complete" id="flexCheckDefault" th:checked="${dto.complete?'checked':null}">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">DueDate</span>
          <input type="date" name="dueDate" class="form-control" th:value="${dto.dueDate}">
        </div>

        <div class="input-group mb-3">
          <button type="button" id="modifyBtn" class="btn btn-primary">Modify</button>
          <button type="button" id="removeBtn" class="btn btn-danger">Remove</button>
          <button type="button" id="listBtn" class="btn btn-secondary" data-return-to="${returnTo}">List</button> <!-- data-return-to 추가 -->
        </div>

      </form>

    </div>
  </div>
</div>


<script layout:fragment="script" th:inline="javascript">
  const formObj=document.querySelector("form");
  document.querySelector("#modifyBtn").addEventListener("click", function (e){
    e.preventDefault()
    e.stopPropagation()
    var pageType = document.querySelector("#pageType").value
    console.log("pageType="+pageType)
    formObj.action="/todo/modify?pageType="+pageType
    formObj.method="post"
    formObj.submit()
  }, false)

  document.querySelector("#removeBtn").addEventListener("click", function (e){
    e.preventDefault()
    e.stopPropagation()
    formObj.action="/todo/remove"
    formObj.method="post"
    formObj.submit()
  }, false)

 /* document.querySelector("#listBtn").addEventListener("click", function (e){
    e.preventDefault()
    e.stopPropagation()
    formObj.reset()
    self.location="/todo/list"
  }, false)*/

  document.querySelector("#listBtn").addEventListener("click", function (e) {
    e.preventDefault();
    e.stopPropagation();

    const returnToValue = this.getAttribute("data-return-to") || 'list';
    const pageTypeValue = this.getAttribute("data-page-type"); // pageType을 가져옵니다.

    // pageType에 따른 URL 리디렉션
    if (pageTypeValue === 'today') {
      self.location = "/todo/listtoday"; // 오늘 목록으로 이동
    } else if (pageTypeValue === 'upcoming') {
      self.location = "/todo/listupcoming"; // 예정 목록으로 이동
    } else if (pageTypeValue === 'past') {
      self.location = "/todo/listpast"; // 지난 목록으로 이동
    } else {
      self.location = "/todo/list"; // 기본 목록으로 이동
    }
  }, false)
</script>
</html>